In [3]:
%load_ext autoreload
%autoreload = 2
import numpy as np
import pandas as pd
import edhec_risk_kit as erk

In [16]:
def get_EW_returns():
    """
    Load and format the EDHEC Hege Fund Index Returns
    """
    EW = pd.read_csv('/Users/Jinyanting/Documents/GitHub/PortfolioConstruction/Week1/data/Portfolios_Formed_on_ME_monthly_EW.csv',
                     header=0, index_col=0, parse_dates=True,na_values = -99.99)
    EW = EW/100
    EW.index = pd.to_datetime(EW.index,format= '%Y%m').to_period('M')
    return EW

In [17]:
returns = get_EW_returns()

In [18]:
returns

,<= 0,Lo 30,Med 40,Hi 30,Lo 20,Qnt 2,Qnt 3,Qnt 4,Hi 20,Lo 10,Dec 2,Dec 3,Dec 4,Dec 5,Dec 6,Dec 7,Dec 8,Dec 9,Hi 10
1926-07,NaN,-0.0043,0.0152,0.0268,-0.0057,0.0059,0.0160,0.0147,0.0333,-0.0145,0.0029,-0.0015,0.0133,0.0124,0.0198,0.0155,0.0138,0.0338,0.0329
1926-08,NaN,0.0390,0.0304,0.0209,0.0384,0.0359,0.0371,0.0161,0.0233,0.0512,0.0259,0.0403,0.0315,0.0272,0.0472,0.0160,0.0163,0.0098,0.0370
1926-09,NaN,-0.0108,-0.0054,0.0016,-0.0048,-0.0140,0.0000,-0.0050,-0.0009,0.0093,-0.0187,-0.0227,-0.0053,0.0007,-0.0007,-0.0164,0.0064,-0.0086,0.0067
1926-10,NaN,-0.0332,-0.0352,-0.0306,-0.0329,-0.0410,-0.0289,-0.0336,-0.0295,-0.0484,-0.0177,-0.0336,-0.0483,-0.0298,-0.0280,-0.0345,-0.0327,-0.0347,-0.0243
1926-11,NaN,-0.0046,0.0382,0.0309,-0.0055,0.0218,0.0341,0.0339,0.0316,-0.0078,-0.0032,-0.0029,0.0465,0.0324,0.0357,0.0382,0.0295,0.0361,0.0270
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-08,NaN,0.0347,0.0404,0.0287,0.0309,0.0505,0.0390,0.0354,0.0249,0.0241,0.0507,0.0530,0.0470,0.0302,0.0501,0.0350,0.0358,0.0265,0.0234
2018-09,NaN,-0.0224,-0.0185,0.0008,-0.0204,-0.0238,-0.0248,-0.0074,0.0019,-0.0168,-0.0308,-0.0322,-0.0123,-0.0265,-0.0227,-0.0131,-0.0012,-0.0051,0.0087
2018-10,NaN,-0.1076,-0.1088,-0.0763,-0.1052,-0.1174,-0.1055,-0.0945,-0.0741,-0.1002,-0.1198,-0.1189,-0.1152,-0.1158,-0.0923,-0.1074,-0.0804,-0.0828,-0.0657
2018-11,NaN,-0.0208,0.0218,0.0219,-0.0278,0.0169,0.0146,0.0262,0.0249,-0.0365,-0.0023,0.0123,0.0230,0.0174,0.0111,0.0354,0.0163,0.0245,0.0253
2018-12,NaN,-0.1428,-0.1241,-0.0976,-0.1477,-0.1244,-0.1222,-0.1134,-0.0921,-0.1531,-0.1319,-0.1194,-0.1313,-0.1273,-0.1157,-0.1187,-0.1075,-0.0954,-0.0890

In [20]:
returns[['Lo 20', 'Hi 20']]

          Lo 20   Hi 20
1926-07 -0.0057  0.0333
1926-08  0.0384  0.0233
1926-09 -0.0048 -0.0009
1926-10 -0.0329 -0.0295
1926-11 -0.0055  0.0316
...         ...     ...
2018-08  0.0309  0.0249
2018-09 -0.0204  0.0019
2018-10 -0.1052 -0.0741
2018-11 -0.0278  0.0249
2018-12 -0.1477 -0.0921

[1110 rows x 2 columns]

In [21]:
erk.annualize_rets(returns[['Lo 20']],12)

Lo 20    0.151977
dtype: float64

In [22]:
erk.annualize_vol(returns[['Lo 20']],12)

Lo 20    0.336701
dtype: float64

In [23]:
erk.annualize_rets(returns[['Hi 20']],12)

Hi 20    0.09849
dtype: float64

In [24]:
erk.annualize_vol(returns[['Hi 20']],12)

Hi 20    0.195116
dtype: float64

In [29]:
r = returns[['Lo 20']]['1999':'2015']
erk.annualize_rets(r,12)

Lo 20    0.114426
dtype: float64

In [30]:
erk.annualize_vol(r,12)

Lo 20    0.228894
dtype: float64

In [31]:
r = returns[['Hi 20']]['1999':'2015']
erk.annualize_rets(r,12)

Hi 20    0.062865
dtype: float64

In [32]:
erk.annualize_vol(r,12)

Hi 20    0.172713
dtype: float64

In [34]:
r = returns[['Lo 20']]['1999':'2015']

          Lo 20
1999-01  0.1114
1999-02 -0.0399
1999-03 -0.0308
1999-04  0.0824
1999-05  0.0435
...         ...
2015-08 -0.0347
2015-09 -0.0610
2015-10  0.0385
2015-11  0.0165
2015-12 -0.0500

[204 rows x 1 columns]

In [43]:
erk.drawdown(returns['Lo 20']['1999':'2015'])['Drawdowns'].min()

-0.6248092431236988

In [44]:
erk.drawdown(returns['Lo 20']['1999':'2015'])['Drawdowns'].idxmin()

Period('2009-02', 'M')

In [45]:
erk.drawdown(returns['Hi 20']['1999':'2015'])['Drawdowns'].min()

-0.5527349978713653

In [46]:
erk.drawdown(returns['Hi 20']['1999':'2015'])['Drawdowns'].idxmin()

Period('2009-02', 'M')

In [54]:
ind = erk.get_hfi_returns()

In [55]:
ind

,Convertible Arbitrage,CTA Global,Distressed Securities,Emerging Markets,Equity Market Neutral,Event Driven,Fixed Income Arbitrage,Global Macro,Long/Short Equity,Merger Arbitrage,Relative Value,Short Selling,Funds Of Funds
date,,,,,,,,,,,,,
1997-01,0.0119,0.0393,0.0178,0.0791,0.0189,0.0213,0.0191,0.0573,0.0281,0.0150,0.0180,-0.0166,0.0317
1997-02,0.0123,0.0298,0.0122,0.0525,0.0101,0.0084,0.0122,0.0175,-0.0006,0.0034,0.0118,0.0426,0.0106
1997-03,0.0078,-0.0021,-0.0012,-0.0120,0.0016,-0.0023,0.0109,-0.0119,-0.0084,0.0060,0.0010,0.0778,-0.0077
1997-04,0.0086,-0.0170,0.0030,0.0119,0.0119,-0.0005,0.0130,0.0172,0.0084,-0.0001,0.0122,-0.0129,0.0009
1997-05,0.0156,-0.0015,0.0233,0.0315,0.0189,0.0346,0.0118,0.0108,0.0394,0.0197,0.0173,-0.0737,0.0275
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-07,0.0021,-0.0058,0.0093,0.0040,-0.0010,0.0055,0.0022,-0.0014,0.0067,-0.0021,0.0045,-0.0052,0.0018
2018-08,0.0024,0.0166,0.0002,-0.0277,0.0004,0.0011,0.0017,-0.0007,0.0035,0.0050,-0.0002,-0.0214,0.0015
2018-09,0.0034,-0.0054,0.0050,-0.0110,-0.0016,0.0032,0.0036,0.0006,-0.0023,0.0028,0.0018,0.0036,-0.0022
2018-10,-0.0073,-0.0314,-0.0158,-0.0315,-0.0129,-0.0257,-0.0023,-0.0096,-0.0402,-0.0080,-0.0109,0.0237,-0.0269
2018-11,-0.0068,-0.0053,-0.0193,0.0120,-0.0211,-0.0034,-0.0067,-0.0087,-0.0044,0.0119,-0.0063,-0.0021,-0.0071

In [57]:
ind['2009':'2018']

,Convertible Arbitrage,CTA Global,Distressed Securities,Emerging Markets,Equity Market Neutral,Event Driven,Fixed Income Arbitrage,Global Macro,Long/Short Equity,Merger Arbitrage,Relative Value,Short Selling,Funds Of Funds
date,,,,,,,,,,,,,
2009-01,0.0491,-0.0016,0.0082,-0.0112,0.0079,0.0132,0.0112,0.0029,-0.0017,0.0056,0.0100,0.0282,0.0060
2009-02,0.0164,-0.0031,-0.0122,-0.0133,-0.0046,-0.0091,0.0065,-0.0055,-0.0161,0.0006,-0.0016,0.0328,-0.0037
2009-03,0.0235,-0.0180,0.0022,0.0350,0.0021,0.0117,0.0057,0.0048,0.0188,0.0125,0.0100,-0.0462,0.0008
2009-04,0.0500,-0.0140,0.0387,0.0663,-0.0012,0.0337,0.0221,0.0127,0.0375,0.0081,0.0342,-0.0820,0.0092
2009-05,0.0578,0.0213,0.0504,0.0884,0.0146,0.0442,0.0365,0.0348,0.0516,0.0107,0.0392,0.0008,0.0312
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-07,0.0021,-0.0058,0.0093,0.0040,-0.0010,0.0055,0.0022,-0.0014,0.0067,-0.0021,0.0045,-0.0052,0.0018
2018-08,0.0024,0.0166,0.0002,-0.0277,0.0004,0.0011,0.0017,-0.0007,0.0035,0.0050,-0.0002,-0.0214,0.0015
2018-09,0.0034,-0.0054,0.0050,-0.0110,-0.0016,0.0032,0.0036,0.0006,-0.0023,0.0028,0.0018,0.0036,-0.0022
2018-10,-0.0073,-0.0314,-0.0158,-0.0315,-0.0129,-0.0257,-0.0023,-0.0096,-0.0402,-0.0080,-0.0109,0.0237,-0.0269
2018-11,-0.0068,-0.0053,-0.0193,0.0120,-0.0211,-0.0034,-0.0067,-0.0087,-0.0044,0.0119,-0.0063,-0.0021,-0.0071

In [58]:
erk.semideviation(ind['2009':'2018']).sort_values()

Fixed Income Arbitrage    0.003321
Merger Arbitrage          0.003611
Global Macro              0.005075
Equity Market Neutral     0.005186
Relative Value            0.005711
Convertible Arbitrage     0.006681
Funds Of Funds            0.007948
Distressed Securities     0.009498
Event Driven              0.010135
CTA Global                0.010996
Long/Short Equity         0.012139
Emerging Markets          0.015276
Short Selling             0.021240
dtype: float64

In [62]:
erk.kurtosis(ind['2000':'2018']).sort_values()

CTA Global                 2.845022
Global Macro               3.653278
Short Selling              4.352758
Long/Short Equity          4.472589
Merger Arbitrage           4.520785
Event Driven               5.543444
Emerging Markets           5.941289
Distressed Securities      6.231720
Funds Of Funds             7.584725
Relative Value            12.731096
Equity Market Neutral     20.329621
Convertible Arbitrage     23.001449
Fixed Income Arbitrage    33.378729
dtype: float64